# ASP.NET Core
.vscode/
*.user
*.suo
*.sln.docstates
bin/
obj/
appsettings.Development.json
appsettings.Production.json
*.csproj.user
*_i.c
*_p.c
*.ilk
*.lock.json
*.log
.project
*.pidb
*.userprefs
*.vscode
*.vscode/
*.dotnetcli
*.json
nuget/
node_modules/
wwwroot/lib
wwwroot/favicon.ico


# Visual Studio files
.vs
.vscode/
*.sln.ide
*.suo
*.suo
*.csproj.user
*.vcxproj.user
*.dbmdl
*.jfm
