html {
    font-size: 14px;
}

@media (min-width:768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white,0 0 0 0.25rem #258cfb;
}

.btn-primary, .btn-primary:hover, .btn-primary:active {
    width: 150px;
    height: 40px;
    margin-bottom: 10px;
    color: white !important;
    text-align: center;
}

    .btn-primary:hover, .btn-primary:active {
        color: white !important;
    }

.html {
    position: relative;
    min-height: 100%;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.table-container {
    margin: 20px;
    overflow-x: auto;
}

#Table {
    width: 100%;
    border-collapse: collapse;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

    .styled-table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }

    .styled-table th, .styled-table td {
        padding: 12px 15px;
        text-align: center;
        border: 1px solid #ddd;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }

        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }

        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }

.hidden-table {
    display: none;
}

.nav-item {
    margin-right: 10px;
}

.nav-link {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

    .nav-link:hover {
        background-color: #0056b3;
    }

.backButton {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: #fff;
    cursor: pointer;
}
